body {
    font-family: roboto;
    background-image: src="Uvod/ozadje.jpg";
    background-attachment: fixed;
    background-size: cover;
    height: 3000px;
}

.uvod {
    padding-bottom: 180px;
}

.naslov {
    display: flex;
    justify-content: center;
    background-image: url(Uvod/ozadje.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    opacity: 0.8;
    box-shadow: 0px 10px 25px black;
    transition: opacity 0.5s, box-shadow 0.5s, height 0.25s;
    z-index: 5;
}

.kontakt {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 20px;
    line-height: 50px;
    opacity: 0;
    transition: opacity 0.5s;
    border-left: 4px dotted dimgray;
    padding: 10px;
}

.prelaz-kontakt {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 400px;
    font-size: 80px;
    color: lightgray;
    opacity: 0.1;
    transition: opacity 0.5;
}

.broj {
    color: lightgray;
    cursor: default;
}

.naslov:hover .kontakt {
    opacity: 1;
}

.naslov:hover .prelaz-kontakt {
    opacity: 0;
}

.kontakt img {
    width: 50px;
}

.naslov:hover {
    opacity: 1;
    height: 220px;
}

.naslov-slika {
    position: absolute;
    top: 20px;
    width: 498px;
    height: 150px;
}

.ponudba {
    background-color: lightgray;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    opacity: 0.5;
    margin-top: 50px;
    padding: 15px;
    box-shadow: 0 0 50px black;
}

p {
    margin: 0;
}

.vsebina {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.prozor {
    border: 2px solid lightgrey;
    box-shadow: 0 0 50px black;
}

.prozor, .slika {
    width: 400px;
    height: 300px;
}

.slika {
    position: relative;
}

.prelaz {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1px;
    left: 1px;
    background-color: rgba(205, 200, 200, 0);
    color: rgba(255, 255, 255, 0);
    width: 398px;
    height: 298px;
    font-size: 50px;
    transition: opacity 0.5s;
    cursor: default;
    transition: background-color 0.5s, color 0.5s;
}

.slika:hover .prelaz {
    background-color: rgba(205, 200, 200, 0.5);
    color: rgba(255, 255, 255, 1);
}

.slika1 {
    width: 100%;
    height: 100%;
}
